#hero, #enemy {
  font-size: 14px;
  font-weight: bold;
}

#hero {
  position: relative;
  top: 200px;
  left: 350px;
  margin: auto;
}

#enemy {
  position: absolute;
  top: 100px;
  left: 200px;
  margin: auto;
}

#attack, #defend {
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: #a6a6a6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-style: solid;
  border-color: #a6a6a6;
  width: 50px;
  margin: auto;
}

#attack {
  top: 250px;
  left: 150px;
}

#defend {
  top: 250px;
  left: 320px;
}

.coolDown {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #e6e6e6;
  opacity: .5;
}

#attackSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  display: none;
}

#defendSlider {
  position: absolute;
  top: 301px;
  left: 201px;
  width: 112px;
  display: none;
}

#text-module {
  display: none;
  margin: auto;
  position: relative;
  top: 175px;
  left: -5px;
  text-align:center;
  font-size: 14px;
  width: 450px;
  border-style: solid;
  border-color: #a6a6a6;
  font-family: cursive;
  z-index: 3;
  padding: 40px 3px;
  background-color: white;
}

#text-box {
    font-size: 16px;
    /*padding: 10px 0;*/
    margin:auto auto auto auto;
    background: blue;
}

#combat-module {
  display: none;
  margin: auto;
  position: relative;
}

.interact {
  border-style: solid;
  border-color: #e6e6e6;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  font-family: cursive;
  z-index: 4;
}

/*I found that the old fog absolute was required for centering the world
EVEN if I tried to put the world's position to absolute it broke... so I'm
adding this class just for world so I can scrap fog.*/
.worldCentered{
    position: absolute;
}
#worldContent {
  font-size: 18px;
  position: absolute;
  z-index: -1;
  margin: auto;
}
