#hero, #enemy {
  font-size: 14px;
  font-weight: bold;
}

#hero {
  position: relative;
  top: 200px;
  left: 200px;
  margin: auto;
}

#enemy {
  position: absolute;
  top: 100px;
  left: 350px;
  margin: auto;
}

#attack, #defend, .spell {
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: #a6a6a6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-style: solid;
  border-color: #a6a6a6;
  width: 50px;
  margin: auto;
  z-index: 2;
}

#attack {
  top: 250px;
  left: 150px;
}

#defend {
  top: 250px;
  left: 320px;
}

.coolDown {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #e6e6e6;
  opacity: .5;
  z-index: 1;
}

#attackSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  display: none;
}

#defendSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  display: none;
}

#text-module {
  display: none;
  margin: auto;
  position: relative;
  top: 175px;
  left: -5px;
  text-align:center;
  font-size: 14px;
  width: 450px;
  border-style: solid;
  border-color: #a6a6a6;
  font-family: cursive;
  z-index: 3;
  padding: 40px 10px;
  background-color: white;
}

#text-box {
    font-size: 14px;
    /*padding: 10px 0;*/
    margin:auto auto auto auto;
    background: blue;
}

#combat-module {
  display: none;
  margin: auto;
  position: relative;
}

.interact {
  border-style: solid;
  border-color: #e6e6e6;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  font-family: cursive;
  z-index: 4;
  border-width: 2px;
}

/*I found that the old fog absolute was required for centering the world
EVEN if I tried to put the world's position to absolute it broke... so I'm
adding this class just for world so I can scrap fog.*/
.worldCentered{
    position: absolute;
}
#worldContent {
  font-size: 18px;
  position: absolute;
  z-index: -1;
  margin: auto;
}

#info-module, #tree-module {
    width: 200px;
    height: 550px;
    padding-top: 25px;
    border-style: solid;
    border-color: #a6a6a6;
    position: absolute;
    display: none;
    background-color: white;
}

.infoBox {
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}

#hoverInfo, #vendor-hover {
padding: 10px 20px 10px 20px;
position: absolute;
border-color: #a6a6a6;
border-style: solid;
right: -180px;
bottom: 0;
top: 0;
display: none;
background-color: white;
}

.itemInfo {
    border-style: solid;
    border-color: #a6a6a6;
    height: 25px;
    position: relative;
    margin-bottom: 5px;
}

#xp {
    position: absolute;
    bottom: 0;
    left: 5px;
}

#gold {
    /*That gold may change, dear*/
    position: absolute;
    bottom: 0;
    right: 5px;
    padding-bottom: 5px;
}

.inv_hr{
    position: absolute;
    width: 100%;
    left:0;
    bottom: 15px;

}
#torch_hr{
    position: absolute;
    width: 100%;
    left:0;
    bottom: 40px;
}
#torchcount{
    white-space: pre-wrap;
    width: 200px;
    padding-bottom: 0;
    position: absolute;
    bottom: 30px;

}

.statusBar, .statusSlider, .invCarry {
  position: absolute;
  height: 16px;
  width: 180px;
  left: 10px;
  margin: auto;
}

.statusBar, .invCarry {
    font-size: 12px;
    text-align: center;
    /*color: #a6a6a6;*/
    border-style: solid;
    border-color: #a6a6a6;
    border-width: thin;
}
.statusSlider {
    opacity: .5;
    background-color: #e6e6e6;
    height: inherit;
    left: 0;
    top: 0;
}

#inventory {
    line-height: 95%;
    height: 300px;
}

#inv_hoverInfo, #hoverCompare {
    padding: 10px 20px 10px 20px;
    position: absolute;
    border-color: #a6a6a6;
    border-style: solid;
    right: -160px;
    bottom: 0;
    top: 200px;
    height: 100px;
    display: none;
    background-color: white;
    font-size: 12px;
    font-family: cursive;
}

.small {
  top: 0;
  bottom: 0;
  left: 10px;
  width: 12px;
  height: 12px;
}

#vendor-module {
    height: 400px;
    width: 600px;
    font-size: 12px;
    font-family: cursive;
    border-style: solid;
    border-color: #a6a6a6;
    position: relative;
    top: 150px;
    background-color: white;
    display: none;
}
#tab{
    height: 20px;
    width: 40px;
    border-style: solid;
    border-color: inherit;
    position: absolute;
    right: 0;
    top: -30px;
    text-align: center;
}

#HeroEffects, #EnemyEffects, #effectsHover{
    position: absolute;
    top: 50px;
    height: 20px;
    width: 150px;
    border-style: solid;
    border-width: thin;
    border-color: #a6a6a6;
    display: none;
    font-size: 12px;
    font-family: cursive;
    text-align: center;
}

.effect{
    position: absolute;
    top: 0;
    height: 15px;
    width: 15px;
    font-size: 10px;
    color: #a6a6a6;
    border-style: solid;
    border-color: #a6a6a6;
    border-width: thin;
    text-align: center;
}
